apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: portfolio
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: yaniskouidri/portfolio-backend:0.1.4-arm
        ports:
        - containerPort: 3001
        envFrom:
          - secretRef:
              name: backend
          - configMapRef:
              name: backend
        resources:
          requests:
            cpu: "200m"
            memory: "256Mi"
          limits:
            cpu: "1"
            memory: "512Mi"
        volumeMounts:
          - name: data-volume
            mountPath: /app/data
      volumes:
        - name: data-volume
          persistentVolumeClaim:
            claimName: backend-data-pvc

