# postgres-values.yaml
global:
  postgresql:
    auth:
      username: sonar
      database: sonar
      existingSecret: sonarqube-postgres-secret
      # NB name of the key on the secret "sonarqube-postgres-secret" must be password for user sonar and postgres-password

primary:
  persistence:
    enabled: true
    size: 10Gi
    storageClass: longhorn
  resources:
    limits:
      cpu: 1000m
      memory: 2Gi
    requests:
      cpu: 500m
      memory: 1Gi

readReplicas:
  resources:
    limits:
      cpu: 1000m
      memory: 2Gi
    requests:
      cpu: 500m
      memory: 1Gi
