apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: personal-website
  name: personal-website
  namespace: portfolio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: personal-website
  strategy: {}
  template:
    metadata:
      labels:
        app: personal-website
    spec:
      containers:
      - image: yaniskouidri/personal-website
        name: personal-website
        imagePullPolicy: Always
