apiVersion: apps/v1
kind: Deployment
metadata:
  name: minecraft-server
  namespace: minecraft
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minecraft-server
  template:
    metadata:
      labels:
        app: minecraft-server
    spec:
      containers:
        - name: minecraft-server
          image: itzg/minecraft-server:2026.1.1-java21-alpine
          ports:
            - containerPort: 25565
          envFrom:
            - configMapRef:
                name: minecraft-server-config
          volumeMounts:
            - mountPath: /data
              name: minecraft-data
          resources:
            requests:
              cpu: "500m"
              memory: "1Gi"
            limits:
              cpu: "2"
              memory: "4Gi"
          startupProbe:
            exec:
              command:
                - mc-monitor
                - status
            initialDelaySeconds: 30
            periodSeconds: 10
            failureThreshold: 30 #5 minutes max to start
          readinessProbe:
            exec:
              command:
                - mc-monitor
                - status
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3 
          livenessProbe:
            exec:
              command:
                - mc-monitor
                - status
            periodSeconds: 30
            failureThreshold: 3 

      volumes:
        - name: minecraft-data
          persistentVolumeClaim:
            claimName: minecraft-pvc
