apiVersion: apps/v1
kind: Deployment
metadata:
  name: minecraft-server
  namespace: minecraft
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minecraft-server
  template:
    metadata:
      labels:
        app: minecraft-server
    spec:
      containers:
        - name: minecraft-server
          image: itzg/minecraft-server:2025.12.0-java21-alpine
          ports:
            - containerPort: 25565
          envFrom:
            - configMapRef:
                name: minecraft-server-config
          volumeMounts:
            - mountPath: /data
              name: minecraft-data
          resources:
            requests:
              cpu: "500m"
              memory: "1Gi"
            limits:
              cpu: "2"
              memory: "4Gi"

      volumes:
        - name: minecraft-data
          persistentVolumeClaim:
            claimName: minecraft-pvc
