apiVersion: v1
kind: Service
metadata:
  name: immich-machine-learning
  namespace: immich
spec:
  selector:
    app: machine-learning-server
  ports:
    - port: 3003
      targetPort: 3003
      protocol: TCP
      name: http
  type: ClusterIP