apiVersion: apps/v1
kind: Deployment
metadata:
  name: minecraft-server
  namespace: minecraft
spec:
  replicas: 1
  selector:
    matchLabels:
      app: minecraft
  template:
    metadata:
      labels:
        app: minecraft
    spec:
      containers:
      - name: minecraft
        image: itzg/minecraft-server
        ports:
        - containerPort: 25565
        envFrom:
          - configMapRef:
              name: minecraft-server-config
        volumeMounts:
        - mountPath: /data  
          name: minecraft-data

      volumes:
      - name: minecraft-data  
        persistentVolumeClaim:
          claimName: minecraft-pvc
