apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: frontend
  name: frontend
  namespace: portfolio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  strategy: {}
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - image: ghcr.io/yanis-kouidri/frontend-react:0.0.0
        name: frontend
        imagePullPolicy: Always
        envFrom:
          - configMapRef:
              name: frontend
        resources:
          limits:
            cpu: "500m"
            memory: "1Gi"
