apiVersion: apps/v1
kind: Deployment
metadata:
  name: wireguard
  namespace: wireguard
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wireguard
  template:
    metadata:
      labels:
        app: wireguard
    spec:
      containers:
      - name: wireguard
        image: linuxserver/wireguard
        securityContext:
          capabilities:
            add: ["NET_ADMIN", "SYS_MODULE"]
        envFrom:
        - configMapRef:
            name: wireguard-config
        ports:
        - containerPort: 51820
          protocol: UDP
        volumeMounts:
        - name: config
          mountPath: /config
        - name: modules
          mountPath: /lib/modules
      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: wireguard-pvc
      - name: modules
        hostPath:
          path: /lib/modules

