apiVersion: apps/v1
kind: Deployment
metadata:
  name: strapi
  namespace: portfolio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: strapi
  template:
    metadata:
      labels:
        app: strapi
    spec:
      containers:
        - name: strapi
          image: ghcr.io/yanis-kouidri/cms-strapi:0.1.0
          imagePullPolicy: Always
          envFrom:
            - secretRef:
                name: strapi-secrets
          ports:
            - containerPort: 1337
          volumeMounts:
            - name: uploads-storage
              mountPath: /opt/app/public/uploads # Path defines in Dockerfile/Docker Compose
          resources:
            requests:
              memory: "256Mi"
              cpu: "200m"
            limits:
              memory: "768Mi"
              cpu: "1"
      volumes:
        - name: uploads-storage
          persistentVolumeClaim:
            claimName: strapi-pvc
