# for raw logs format: json or cri (docker|containerd)
container_runtime: containerd
agent:
  # Specify each pod whose logs you want to process
  acquisition:
    # The namespace where the pod is located
    - namespace: envoy-gateway-system
      # The pod name
      podName: envoy-envoy-gateway-system-envoy-gateway-*
      # as in crowdsec configuration, we need to specify the program name to find a matching parser
      program: envoy
      poll_without_inotify: true
  additionalAcquisition:
    - source: file
      filenames:
        - /var/log/auth.log
      labels:
        type: syslog
  env:
    - name: COLLECTIONS
      value: "crowdsecurity/base-http-scenarios crowdsecurity/http-cve crowdsecurity/http-dos crowdsecurity/whitelist-good-actors crowdsecurity/linux"
    - name: PARSERS
      value: "crowdsecurity/cri-logs"
lapi:
  envFrom:
    - secretRef:
        name: crowdsec-secret

config:
  # -- To better understand stages in parsers, you can take a look at https://docs.crowdsec.net/docs/next/parsers/intro/
  # Those files are only mounted in the agent pods
  parsers:
    ## @param config.parsers.s00-raw First step custom parsers definitions, usually used to label logs
    # s00-raw: {}
    ## @param config.parsers.s01-parse Second step custom parsers definitions, usually to normalize logs into events
    s01-parse:
      envoy-parser.yaml: |
        filter: "evt.Parsed.logsource == 'cri' && evt.Parsed.program == 'envoy'"
        onsuccess: next_stage
        name: custom/envoy
        description: envoy json logs parser
        statics:
          - target: evt.StrTime
            expression: JsonExtract(evt.Parsed.message, "start_time")

          - parsed: raw_remote_addr
            expression: JsonExtract(evt.Parsed.message, "downstream_remote_address")
          - parsed: remote_addr
            expression: "Split(evt.Parsed.raw_remote_addr, ':')[0]"
          - parsed: request
            expression: JsonExtract(evt.Parsed.message, "x-envoy-origin-path")
          - parsed: verb
            expression: JsonExtract(evt.Parsed.message, "method")
          - parsed: http_status
            expression: JsonExtract(evt.Parsed.message, "response_code")
          - parsed: user_agent
            expression: JsonExtract(evt.Parsed.message, "user-agent")
          - parsed: target_fqdn
            expression: JsonExtract(evt.Parsed.message, ":authority")
          - parsed: program
            expression: evt.Line.Labels.program
          - meta: service
            value: http
          - meta: log_type
            value: http_access-log
          - meta: source_ip
            expression: "evt.Parsed.remote_addr"
          - meta: http_path
            expression: "evt.Parsed.request"
          - meta: http_verb
            expression: "evt.Parsed.verb"
          - meta: http_status
            expression: "evt.Parsed.http_status"
